@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins";

.POIContainer {
    height: 100%;
    background-color: white;
    width: 33%;
    position: absolute;
    z-index: 1;
    box-shadow: 10px 0px 4px -9px #D1D1D1;
    padding: 0;

    div.Header {
        margin:0;
        padding: 5px;
        background-color: $gray-lighter;
    }
}
